In [838]:
import pandas as pd
import numpy as np
mlb_h_ = pd.read_csv('/Users/heetae/Desktop/git_p/core/Batting.csv')
mlb_p_ = pd.read_csv('/Users/heetae/Desktop/git_p/core/Pitching.csv')
mlb_f_ = pd.read_csv('/Users/heetae/Desktop/git_p/core/Fielding.csv')

In [839]:
mlb_people = pd.read_csv('/Users/heetae/Desktop/git_p/core/People.csv')

In [840]:
mlb_name=mlb_people[['playerID','nameFirst','nameLast']]

mlb_test = mlb_name.nameFirst+' '+mlb_name.nameLast
mlb_name['Fullname']=mlb_test

mlb_name

<ipython-input-840-07057e920bfb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mlb_name['Fullname']=mlb_test

        playerID nameFirst  nameLast         Fullname
0      aardsda01     David   Aardsma    David Aardsma
1      aaronha01      Hank     Aaron       Hank Aaron
2      aaronto01    Tommie     Aaron     Tommie Aaron
3       aasedo01       Don      Aase         Don Aase
4       abadan01      Andy      Abad        Andy Abad
...          ...       ...       ...              ...
20180   zupofr01     Frank      Zupo       Frank Zupo
20181  zuvelpa01      Paul   Zuvella     Paul Zuvella
20182  zuverge01    George  Zuverink  George Zuverink
20183  zwilldu01     Dutch  Zwilling   Dutch Zwilling
20184   zychto01      Tony      Zych        Tony Zych

[20185 rows x 4 columns]

In [841]:
mlb_p=mlb_p_.drop(['yearID','stint','teamID','lgID'],axis=1)
mlb_best_p=mlb_p.groupby('playerID',as_index=False).sum().sort_values('W',ascending=False).head(1)
mlb_best_p

,playerID,W,L,G,GS,CG,SHO,SV,IPouts,H,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
9927,youngcy01,511,315,906,815,749,76,18,22068,7092,...,0.0,156,161.0,3,29579.0,84,3167,0.0,0.0,0.0

In [842]:
mlb_h_1=mlb_h_.drop(['stint','teamID','lgID'],axis=1)
mlb_f_1=mlb_f_.drop(['stint','teamID','lgID','yearID'],axis=1)
mlb_h1 =  mlb_h_1[['playerID','G','R','H','2B','3B','HR','SB','BB','SO','SH','SF']]
mlb_f1 =  mlb_f_1[['playerID','POS']]

In [843]:
mlb_h = mlb_h1.groupby('playerID',as_index=False).sum()
mlb_h.head()

    playerID     G     R     H   2B  3B   HR     SB    BB      SO    SH     SF
0  aardsda01   331     0     0    0   0    0    0.0     0     2.0   1.0    0.0
1  aaronha01  3298  2174  3771  624  98  755  240.0  1402  1383.0  21.0  121.0
2  aaronto01   437   102   216   42   6   13    9.0    86   145.0   9.0    6.0
3   aasedo01   448     0     0    0   0    0    0.0     0     3.0   0.0    0.0
4   abadan01    15     1     2    0   0    0    0.0     4     5.0   0.0    0.0

In [1039]:
mlb_f = mlb_f_1.groupby(['playerID','POS'],as_index=False).sum()
mlb_f.head()

,playerID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
0,aardsda01,P,331,0.0,1011.0,11,29,3.0,2,0.0,0.0,0.0,0.0,0.0
1,aaronha01,1B,210,203.0,5274.0,1791,117,20.0,152,0.0,0.0,0.0,0.0,0.0
2,aaronha01,2B,43,34.0,913.0,102,99,7.0,25,0.0,0.0,0.0,0.0,0.0
3,aaronha01,3B,7,5.0,153.0,4,12,0.0,0,0.0,0.0,0.0,0.0,0.0
4,aaronha01,OF,2760,2735.0,72074.0,5539,201,117.0,41,0.0,0.0,0.0,0.0,0.0

In [159]:
mlb_h.G.describe().T

count    19898.000000
mean       277.415167
std        451.286086
min          1.000000
25%         14.000000
50%         78.000000
75%        326.000000
max       3562.000000
Name: G, dtype: float64

In [845]:
mlb_h.rename(columns={'2B':'B2','3B':'B3'},inplace=True)

In [468]:
mlb_f.POS.unique()

array(['P', '1B', '2B', '3B', 'OF', 'SS', 'C'], dtype=object)

In [846]:
mlb_name.iloc[2,3]

'Tommie Aaron'

In [536]:
mlb_h.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4966 entries, 0 to 19896
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  4966 non-null   object
 1   G         4966 non-null   int64
 2   R         4966 non-null   int64
 3   H         4966 non-null   int64
 4   B2        4966 non-null   int64
 5   B3        4966 non-null   int64
 6   HR        4966 non-null   int64
 7   SB        4966 non-null   float64
 8   BB        4966 non-null   int64
 9   SO        4966 non-null   float64
 10  SH        4966 non-null   float64
 11  SF        4966 non-null   float64
dtypes: float64(4), int64(7), object(1)
memory usage: 633.4+ KB

first= mlb_h.sort_values(['SB','BB','H'],ascending=False)
second= mlb_h.sort_values(['SB','SH','H'],ascending=False)
third=
fourth= mlb_h.sort_values(['HR'],ascending=False)
fifth= 
sixth=
seventh=
eighth=
ninth=
1번: 빠른발, 볼넷 얻기, 출루율
2번: 빠른발, 히트앤런, 희생번트,출루율
3번: 출루와 득점타를 모두
4번: 홈런타자
5번: 타율은 낮아도 장타. 
6번: 타점 및 출루 
7번: 장타력
8번: 포수 유격수.
9번: 빠른발 작전수행

In [554]:
mlb_h.sort_values(['H'],ascending=False).iloc[10,3]#안타

3315

In [847]:
#mlb_h.H.describe().T #1064
#mlb_h.B2.describe().T #183
#mlb_h.B3.describe().T #33
#mlb_h.SB.describe().T #66.75
#mlb_h.BB.describe().T #357
#mlb_h.SH.describe().T #47
#mlb_h.SF.describe().T #20
h100=mlb_h.H>mlb_h.sort_values(['H'],ascending=False).iloc[100,3]#안타
b2100=mlb_h.B2>mlb_h.sort_values(['B2'],ascending=False).iloc[100,4]#2루타
b3100=mlb_h.B3>mlb_h.sort_values(['B3'],ascending=False).iloc[100,5]#3루타
sb100=mlb_h.SB>mlb_h.sort_values(['SB'],ascending=False).iloc[100,7]#도루
bb100=mlb_h.BB>mlb_h.sort_values(['BB'],ascending=False).iloc[100,8]#볼넷
sh100=mlb_h.SH>mlb_h.sort_values(['SH'],ascending=False).iloc[100,10]#희생번트
sf100=mlb_h.SF>mlb_h.sort_values(['SF'],ascending=False).iloc[100,11]#희생플라이
r100=mlb_h.R>mlb_h.sort_values(['R'],ascending=False).iloc[10,11]#득점
homerun=mlb_h.R>mlb_h.sort_values(['HR'],ascending=False).iloc[0,6]#홈런
f_temp=h100&sb100
s_temp=h100&sb100&sh100
t_temp=h100&r100
fo_temp=homerun
fi_temp=b3100&b2100&h100
si_temp=r100&h100
se_temp=b3100&b2100
#e_temp
n_temp=sh100&sf100
#mlb_h[f_temp].sort_values(['HR'],ascending=False).head()
mlb_h[n_temp]
#len(mlb_h[n_temp])

,playerID,G,R,H,B2,B3,HR,SB,BB,SO,SH,SF
18554,vizquom01,2968,1445,2877,456,77,80,404.0,1028,1087.0,256.0,94.0

1번: 빠른발, 볼넷 얻기, 출루율
2번: 빠른발, 히트앤런, 희생번트,출루율
3번: 출루와 득점타를 모두
4번: 홈런타자
5번: 타율은 낮아도 장타. 
6번: 타점 및 출루 
7번: 장타력
8번: 포수 유격수.
9번: 빠른발 작전수행

In [645]:
mlb_h[f_temp].head()

,playerID,G,R,H,B2,B3,HR,SB,BB,SO,SH,SF
267,alomaro01,2379,1508,2724,504,80,210,474.0,1032,1140.0,148.0,97.0
435,aparilu01,2601,1335,2677,394,92,83,506.0,736,742.0,161.0,76.0
1393,biggicr01,2850,1844,3060,668,55,291,414.0,1160,1753.0,101.0,81.0
1643,bondsba01,2986,2227,2935,601,77,762,514.0,2558,1539.0,4.0,91.0
2040,brocklo01,2616,1610,3023,486,141,149,938.0,761,1730.0,47.0,46.0

first=list()
for i in range(0,6):
    first.append(mlb_h[f_temp].iloc[i,0])
    second.append(mlb_h[s_temp].iloc[i,0])
    third.append(mlb_h[t_temp].iloc[i,0])
    fifth.append(mlb_h[fi_temp].iloc[i,0])
    sixth.append(mlb_h[si_temp].iloc[i,0])
    seventh.append(mlb_h[se_temp].iloc[i,0])

In [1026]:
fourth=mlb_h[fo_temp].iloc[0,0]
ninth=list()
best_position=list()
full_name=list()

In [1027]:
test=mlb_f.POS=='C'
mlb_best_c=mlb_f[test].sort_values(['G'],ascending=False).head(1)

In [1028]:
player=list()
h_temp=list()
first=list()
k=0
for i in range(0,6):
    if mlb_h[f_temp].iloc[i,0]==fourth:
        k+=1
        player.append(mlb_h[f_temp].iloc[i+k,0])
    else:
        player.append(mlb_h[f_temp].iloc[i,0])
first=player

for i in range(0,len(mlb_name)):
    for j in range(0,1):
            if (mlb_name.iloc[i,0]==first[j]):
                full_name.append(mlb_name.iloc[i,3])
                

#position_.remove(best_position)

In [1029]:
player=list()
second=list()
h_temp=list()
k=0

for i in range(0,6):
    if mlb_h[s_temp].iloc[i,0]==fourth:
        k+=1
        player.append(mlb_h[s_temp].iloc[i+k,0])

    else:
        player.append(mlb_h[s_temp].iloc[i,0])
second=player

for i in range(0,len(mlb_name)):
    for j in range(0,1):
            if (mlb_name.iloc[i,0]==second[j]):
                full_name.append(mlb_name.iloc[i,3])

In [1030]:
player=list()
third=list()
k=0
for i in range(0,6):
    if mlb_h[t_temp].iloc[i,0]==fourth:
        k+=1
        player.append(mlb_h[t_temp].iloc[i+k,0])

    else:
        player.append(mlb_h[t_temp].iloc[i,0])

third=player

for i in range(0,len(mlb_name)):
    for j in range(2,3):
            if (mlb_name.iloc[i,0]==third[j]):
                full_name.append(mlb_name.iloc[i,3])

In [1031]:
for i in range(0,len(mlb_name)):
            if (mlb_name.iloc[i,0]==fourth):
                full_name.append(mlb_name.iloc[i,3])

In [1032]:
player=list()
fifth=list()
k=0
for i in range(0,6):
    if mlb_h[fi_temp].iloc[i,0]==fourth:
        k+=1
        player.append(mlb_h[fi_temp].iloc[i+k,0])

    else:
        player.append(mlb_h[fi_temp].iloc[i,0])
fifth=player

for i in range(0,len(mlb_name)):
    for j in range(1,2):
            if (mlb_name.iloc[i,0]==fifth[j]):
                full_name.append(mlb_name.iloc[i,3])

In [1033]:
player=list()
sixth=list()
k=0
for i in range(0,6):
    if mlb_h[si_temp].iloc[i,0]==fourth:
        k+=1
        player.append(mlb_h[si_temp].iloc[i+k,0])

    else:
        player.append(mlb_h[si_temp].iloc[i,0])
sixth=player

for i in range(0,len(mlb_name)):
    for j in range(3,4):
            if (mlb_name.iloc[i,0]==sixth[j]):
                full_name.append(mlb_name.iloc[i,3])

In [1034]:
player=list()
seventh=list()
k=0
for i in range(0,6):
    if mlb_h[se_temp].iloc[i,0]==fourth:
        k+=1
        player.append(mlb_h[se_temp].iloc[i+k,0])

    else:
        player.append(mlb_h[se_temp].iloc[i,0])
seventh=player
for i in range(0,len(mlb_name)):
    for j in range(1,2):
            if (mlb_name.iloc[i,0]==seventh[j]):
                full_name.append(mlb_name.iloc[i,3])

In [1035]:
for i in range(0,len(mlb_name)):
    for j in range(0,1):
            if (mlb_name.iloc[i,0]==mlb_best_c.iloc[0,0]):
                full_name.append(mlb_name.iloc[i,3])

In [1036]:
mlb_aaa=mlb_h[n_temp]
for i in range(0,len(mlb_name)):
    for j in range(0,1):
            if (mlb_name.iloc[i,0]==mlb_aaa.iloc[0,0]):
                full_name.append(mlb_name.iloc[i,3])

In [1037]:
for i in range(0,len(mlb_name)):
    for j in range(0,1):
            if (mlb_name.iloc[i,0]==mlb_best_p.iloc[0,0]):
                full_name.append(mlb_name.iloc[i,3])

In [1038]:
for i in range(0,9):
    print(i+1,"번타자로는 ",full_name[i],"입니다. ")

print("투수는",full_name[9],'입니다.')

1 번타자로는  Roberto Alomar 입니다.
2 번타자로는  Max Carey 입니다.
3 번타자로는  Garret Anderson 입니다.
4 번타자로는  Hank Aaron 입니다.
5 번타자로는  Jake Beckley 입니다.
6 번타자로는  Cap Anson 입니다.
7 번타자로는  Jake Beckley 입니다.
8 번타자로는  Ivan Rodriguez 입니다.
9 번타자로는  Omar Vizquel 입니다.
투수는 Cy Young 입니다.






temp=list()
position=list()
full_name=list()
h_temp=list()
b=0

for i in range(0,len(mlb_f)):
    for j in range(0,6):
        if (mlb_f.iloc[i,0]==first[j]):
        #position.append(mlb_f.iloc[i,:])
            h_temp.append(i)
            b+=1

for i in range(0,len(mlb_name)):
    for j in range(0,6):
            if (mlb_name.iloc[i,0]==first[j]):
                full_name.append(mlb_name.iloc[i,3])


position.append(mlb_f.iloc[h_temp])
mlb_position=position[0]
pos_temp=mlb_position.sort_values(['G'],ascending=False)
best_position=pos_temp.iloc[0,1]
number=1
if best_position=='OF':
    bp='외야수'
elif best_position=='P':
    bp='투수'
elif best_position=='1B':
    bp='1루수'
elif best_position=='2B':
    bp='2루수'
elif best_position=='3B':
    bp='3루수'
elif best_position=='C':
    bp='포수'
elif best_position=='SS':
    bp='유격수'
else:
    bp='error'
for i in range(0,10):
    print("%d번타자로는 {full_name[0]}이며 수비포지션은 {bp}입니다. ".format(**locals())%i)
print("투수는 {full_name[0]}".format(**locals()))